/*ship icons*/

/*top -13px; left -13px; wourkaround to set proper anchor for icon*/
/*passenger*/
.vessel-icon-passenger-0 {
    background-position: 0px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

.vessel-icon-passenger-1 {
    background-position: 0px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

/*cargo*/
.vessel-icon-cargo-0 {
    background-position: -72px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

.vessel-icon-cargo-1 {
    background-position: -72px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

/*tanker*/
.vessel-icon-tanker-0 {
    background-position: -24px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

.vessel-icon-tanker-1 {
    background-position: -24px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

/*hsc*/
.vessel-icon-hsc-0 {
    background-position: -48px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

.vessel-icon-hsc-1 {
    background-position: -48px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

/*tugspecialcraft*/
.vessel-icon-tugspecialcraft-0 {
    background-position: -120px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

.vessel-icon-tugspecialcraft-1 {
    background-position: -120px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

/*pleasure*/
.vessel-icon-pleasure-0 {
    background-position: -144px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

.vessel-icon-pleasure-1 {
    background-position: -144px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

/*fishing*/
.vessel-icon-fishing-0 {
    background-position: -168px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

.vessel-icon-fishing-1 {
    background-position: -168px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    top: -13px;
    left: -13px;
    position: relative;
}

/*other*/
.vessel-icon-other-0 {
    background-position: -96px 0px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    position: relative;
    top: -13px;
    left: -13px;
}

.vessel-icon-other-1 {
    background-position: -96px -24px;
    width: 26px;
    height: 26px;
    display: block;
    background-image: url('../img/transparentShipIcons.png');
    background-repeat: no-repeat;
    transform-origin: center center;
    position: relative;
    top: -13px;
    left: -13px;
}